
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Slabo+27px&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Open+Sans&family=Slabo+27px&display=swap');


  $fontArt: 'Dancing Script', cursive;
$font-base: 'Slabo 27px', serif;
$regular-font : 'Open Sans', sans-serif;