@use '/src/Style/stl.scss';

.App {
  font-family: 'Dancing Script', cursive;
}

.style-cart-total{

    position: absolute;
    background-color: crimson;
    padding: 0.2rem 0.6rem; 
    border-radius: 50%; 
    bottom: -10%;
    left: -10%;
    color: white; 
    font-weight: bold;
    font-size: 1rem;
  }
//*ABOUT PAGE 
//*THIS INCLUDES  ALL COMPONENTS THAT PAGE 'ABOUT' USES
.vote-section-item {
  margin-bottom: 2rem;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
      transition: 0.5s;
    }
}

.hovered{
  &:hover {
    opacity: 0.7;
  }
  
}

.about-container  {
  height: 400px !important;
  
}
.blog-scroller {
  height: 95vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 12px; 
  }
  
  &::-webkit-scrollbar-thumb {
    background-color:#DAA520; /* Set the color of the scrollbar thumb */
    border-radius: 8px; /* Round the corners of the thumb */
  }
  
  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: #bb8703; /* Change the color on hover */
  }

}
///**********************************************************/
/// //*HOME PAGE 
//*THIS INCLUDES  ALL COMPONENTS THAT PAGE 'STORE' USES

.SECTION{
  position: relative;
  background : white;
   padding: 1rem ;
   border-top: 4px solid #DAA520 ;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 5rem;
 
  &-title {
    position: absolute;
    top: 0;
    left: 10%;
    color: white;
    padding: 0rem 1rem;
    background-color: #DAA520;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
  }
  &-content {
    margin-top: 2rem;
    padding: 1rem;
  }
  &-sold {
    position: absolute;
    top: 0;
    right: 10%;
    color: white;
    padding: 0rem 1rem;
    background-color: #DAA520;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
  }
}


.catalogue-pictures{
  padding: 2rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
 
   
}
.catalogue-picture:nth-child(7) {
    min-width: 1000px;
  }


.slug {
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  &-displayed  {
  transform: translateY(0);
  opacity: 1;
  }

  &-hidden{
    opacity: 0;
    transform: translateY(-50%);
    transition: 1.5s;

  
}}


.best-seller-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.best-seller-scroll{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;

  transition: 5s;

}

.arrow-scroll{
  
  background-color: #DAA520;
  padding: 1rem;
  color: black;
  border-radius: 50px;
  z-index: 100;

  &:hover{
    opacity: 0.7;
    cursor: pointer;
  }
}

.blog-article {
  &:hover{
    transition: 0.8s;
    cursor: pointer;
    background-color:rgba(219,217,216,255) ;
  }

}


.sold {
 animation: backgroundColorChange  infinite 2s;
 z-index: 20;
  

}
///**********************************************************/
/// //*STORE PAGE 
//*THIS INCLUDES  ALL COMPONENTS THAT PAGE 'STORE' USES


.card-shape  {

  width: 20vw;
  height: auto;
  margin-bottom: 2rem;
  
  &:hover {
    scale: 1.05;
    opacity: 0.85;
    cursor: pointer;
    transition: 0.3s;
  }
}
///**********************************************************/
/// //*SEARCH BAR COMPONONENT
//*THIS INCLUDES  ALL COMPONENTS THAT PAGE 'STORE' USES

.visible {
  color: #842E1B;
  text-align: center;
}
.hidden {
  display: none;
}

.search-bar-form {
  width: 50vw;
  background-color: rgb(13, 4, 57);
  padding: 1rem;
  border: white solid 2px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &:hover  {
    background-color: rgba(255, 255, 255, 0.4);
    transition: 0.3s;
    cursor: pointer;
  }
}



/* Define the styles for the range input */
.custom-range {
 padding-top: 1rem;
  background-color: white ;


/* Define the styles for the slider (the thumb) */
&::-webkit-slider-thumb {
  /* Set the color of the slider thumb */
  background-color: #bb00ff;

}
/* For Firefox */
&::-moz-range-thumb {
  background-color: #ff00c8;
}

/* For IE and Edge */
&::-ms-thumb {
  background-color: #eeff00;
}
}

 ///**********************************************************/
/// //*HOME PAGE 
//*THIS INCLUDES  ALL COMPONENTS THAT PAGE 'HOME' USES
//*MODAL STYLE
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 60vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Container */
.modal-container {
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 70vw;
  width: 400px;
}

/* Modal Header */
.modal-heading {
  font-family: stl.$fontArt;
  color: rgb(92, 46, 16);
  font-size: 5rem;
  
}
.modal-img {
  max-width: 100%;
}
.modal-content-header {
  font-size: 1.8rem;
  padding: 0.5rem;
  font-family: stl.$fontArt;
  

}
.modal-content {
  padding:1rem;
}
/* Close Button */
.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
// .open-modal-button {
//   position: absolute;
//   font-size: 5rem;
//   background-color: #842E1B;

// }

.modal-content {
  padding: 16px;
}


.modal-footer {
  padding: 16px;
  border-top: 1px solid #ccc;
  text-align: right;
}

//*ANIMATION

@keyframes backgroundColorChange {
  0% , 100% { background-color: #DAA520 };
  20%,80% { background-color:#b58919};
  40%,60% { background-color:#a37b17};
  50% {background-color:#936f14}
  
}
.LOGO{
  margin-right: 35rem;
}